.background{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/028/266/237/small_2x/blur-coffee-shop-or-cafe-restaurant-with-abstract-bokeh-light-image-background-for-montage-product-display-or-design-key-visual-layout-generative-ai-photo.jpg");
    width: 100%;
    height: 650px;
}
.image{
    height: 400px;
    object-fit: cover;
}
.para{
    color: rgb(58, 3, 3);
}
body,html{
    overflow-x: hidden;
   
}
.image1{
    height: 350px;
}
.an{
    text-decoration: none;
   border: solid 2px white;
    padding: 5px 5px;
    color: white;
   
}
.an:hover{
   
   
   color: white;
   background-color: white;
    color: rgb(61, 7, 7);
}
.vid{
    object-fit: cover;
    height: 510px;
}
.img{
    width: 50px;
  height: 40px;
}
.img1{
    width: 40px;
    height: 40px;
}
.img2{
    width: 40px;
    height: 35px;
}
.anc{
    text-decoration: none;
    color: grey;
    line-height: 2.5rem;
}
.foot{
   margin-left: 200px;
}
.last{
    color: grey;
    
}
.lastdiv{
    margin-top: 70px;
}
.firstdiv{
    margin-top: -30px;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.image2{
    transition: transform .8s;
}
.image2:hover{
    transform: scale(1.2);
}
.image1{
    transition: transform .8s;
}
.image1:hover{
    transform: scale(1.2);
}

@media(max-width:570px){
    .firsthead{
        font-size: 20px;
    }
    .girlimg{
        width: 200px;
        height: 100px;
    }
    .background{
        height: 1300px;
    }
    .head1{
        font-size: 30px;
    }
    .head2{
        font-size: 20px;
    }
    .head3{
        font-size: 20px;
        margin-top: 5px;
    }
    .head4{
        font-size: 50px;
    }
}
@media(min-width:571px) and (max-width:1000px){
    .firsthead{
        font-size: 20px;
    }
    .girlimg{
       width: 250px;
       height: 120px;
    }
    .background{
        height: 1000px;
    }
}
