.background{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/028/266/237/small_2x/blur-coffee-shop-or-cafe-restaurant-with-abstract-bokeh-light-image-background-for-montage-product-display-or-design-key-visual-layout-generative-ai-photo.jpg");
    width: 100%;
    height: 650px;
}
.image{
    height: 400px;
    object-fit: cover;
}
.para{
    color: rgb(58, 3, 3);
}
body,html{
    overflow-x: hidden;
}
.image1{
    height: 350px;
}
.an{
    text-decoration: none;
   border: solid 2px white;
    padding: 5px 5px;
    color: white;
   
}
.an:hover{
   
   
   color: white;
   background-color: white;
    color: rgb(61, 7, 7);
}
.vid{
    object-fit: cover;
    height: 510px;
}
